<%-include('partials/header')%>
<%-include('partials/navbar')%>


    <div class="container">
            <div class="list-group p-4">
                <a href="/crear-publicacion" class="list-group-item list-group-item-action">Crear Publicación</a>
                <a href="/mostrar" class="list-group-item list-group-item-action">Mostrar todas las Publicaciones</a>
                <a href="/search-por-id" class="list-group-item list-group-item-action">Buscar una Publicación</a>
            </div>
    </div>

<%-include('partials/footer')%>