<%-include('partials/header')%>
<%-include('partials/navbar')%>


    <div class="container">
        <!--Formulario -->
        <div class="row mt-4"> 
            <div class="col">
                <h1 class="text-center">Nueva Publicación</h1>
            </div>
        </div>
        <div class="row col-md-5 mx-auto">

            <form class="p-4" action="" id="nueva-publicacion">

                <div class="mb-3">
                    <input type="text" class="form-control" id="titulo" placeholder="Titulo" required>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="detalle"
                        style="height: 100px"></textarea>
                    <label for="detalle">Detalle</label>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="url_imagen" placeholder="url imagen" required>
                </div>
                <div class="mb-3">
                    <input type="date" class="form-control" name="" id="fecha" required>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                    Guardar
                </button>

            </form>
        </div>
    </div>


    <script src="/js/admin.js"></script>

<%-include('partials/footer')%>