body {
   background: url(/img/background_tech.png);
}
nav, footer{
    background-color: rgb(9, 2, 104);
}
footer {
    margin-top: 60px;
}
section {
    background-color: rgba(255, 255, 255, 0.39);
    align-items: center;
}